@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('./assets/fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(8, 145, 178);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.about-me {
  padding: calc(.5rem + 5vw);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about-me::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 47%);
}

.about-me .content-container {
  margin-top: calc(.5rem + 5vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about-me p {
  color: #616060;
  line-height: 1.5;
}

.profile-image-container {
  position: relative;
}

.about-me i {
  font-size: 1.7rem;
}

h1 {
  position: absolute;
  top: 68%;
  left: 7%;
  color: white;
  font-size: 4rem;
  z-index: 1;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

p {
  font-family: "Roboto";
}

.about-me .social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.my-work-title {
  text-align: center;
}

.cards-container {
  display: grid;
  gap: 3em;
}

.project-card {
  max-width: 300px;
  padding-bottom: 3em;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.project-details {
  padding: 1rem;
}

.project-name-and-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-name {
  display: inline-block;
  margin-left: 1em;
  font-size: 1.2rem;
}

.project-links {
  display: flex;
  gap: 10px;
}

.project-links i {
  font-size: 1.2rem;
}

.project-links svg {
  width: 1.2rem;
}

.project-description {
  font-size: .9rem;
  color: #616060;
  line-height: 1.2;
  padding: 10px;
}

.contact-me {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-bottom: 0rem;
}

.contact-me-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-me-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  line-height: 1.2;
  font-family: 'Roboto';
}

.contact-me-text p {
  font-size: 1.2rem;
}

.address {
  display: flex;
  flex-direction: column;
}

.phone-and-email svg {
  display: none;
}

.contact-me-social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.contact-me i {
  font-size: 2.2rem;
}

.contact-me-image-container {
  height: 480px;
  width: 100vw;
}

.contact-me-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 767px) {
  .wrapper {
    gap: 2rem;
  }
  
  main {
    max-width: 650px;
  }

  .about-me {
    padding: calc(.5rem + 5vw);
    padding-top: 0;
    align-items: center;
  }

  .about-me::before {
    clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 53%);
  }

  .about-me .content-container {
    display: block;
    background-color: white;
    max-width: 592px;
    z-index: 1;
    padding: 2rem;
    padding-top: 5rem;
    margin-top: 8rem;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  }

  .profile-image-container {
    width: 267px;
    height: 199px;
    position: static;
    float: left;
  }

  .about-me img {
    position: absolute;
    width: 43%;
    height: 43%;
    top: 37px;
    left: 35px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  h1 {
    top: 7%;
    left: 38%;
  }

  p.about-details {
    font-size: 1.1rem;
  }

  p.about-details,
  .social-links {
    margin-top: 1rem;
  }

  .about-me .social-links {
    justify-content: flex-end;
  }

  .my-work {
    margin: 0 auto;
  }

  .my-work-title {
    align-self: flex-start;
  }

  .cards-container {
    grid-template-columns: 1fr 1fr;
  }

  .contact-me {
    margin-top: 12rem;
    padding: 3rem;
    flex-direction: row;
  }
  
  .contact-me-info {
    align-items: flex-start;
  }

  .phone-number,
  .email {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .phone-and-email {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .phone-and-email svg {
    display: inline-block;
    width: 1.6rem;
    fill: var(--primary-color);
  }

  .contact-me-image-container {
    height: 388px;
    width: 415px;
  }
}

@media (min-width: 1200px) {
  header {
    margin-bottom: 10em;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -22em;
    position: relative;
    z-index: 1;
  }

  .background-image {
    position: relative;
    transform: translate(0, 0);
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    padding: 12em 3em;
  }

  h1 {
    color: white;
    font-size: 3rem;
    position: relative;
    top: 170px;
    left: 0;
  }

  .about-me {
    max-width: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: var(--primary-color);
    align-items: flex-start;
    gap: 2em;
    margin-bottom: 0;
  }

  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}